/* Start Main Rulz and Resets */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
}

.upper-case {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

li {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #ffb4b4;
}

hr {
  margin: 30px 0;
}

.active {
  background-color: #eee;
  color: #0e0f11;
}

.active:hover a {
  color: #0e0f11;
  -webkit-transform: none;
          transform: none;
  cursor: default;
}

.stands-for span {
  text-transform: uppercase;
  font-weight: bold;
  color: red;
}

/* End Main Rulz and Resets */
body {
  background-color: #0e0f11;
  color: #eee;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100%/12))[12];
      grid-template-columns: repeat(12, calc(100%/12));
  -ms-grid-rows: (calc(100vh/12))[12];
      grid-template-rows: repeat(12, calc(100vh/12));
  font-family: 'Ubuntu', sans-serif;
}

header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eee;
}

aside {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 10;
  grid-row: 2 / span 10;
  border-right: 1px solid #eee;
}

aside ul li {
  border-bottom: 2px solid #EEE;
}

aside ul li a {
  color: inherit;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  width: 100%;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

aside ul li:hover a {
  color: #ffb4b4;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

section {
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-column: 4 / span 9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 10;
  grid-row: 2 / span 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  overflow-y: auto;
}

section > ul {
  margin-left: 100px;
  margin-right: 50px;
}

section .second-ul li {
  margin-left: 40px;
}

section ul {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
}

section ul li {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 30px;
  list-style-type: circle;
  margin-bottom: 10px;
}

section ul li ul li {
  font-size: 20px;
}

footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #eee;
}

footer h6 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */