/* Start colors */
  $dark-color: #2b2626;
  $light-color:  #f1f1f1;
  $wight-color: #ffffff;

  $bodyBackground-color: $wight-color;
  $body-color: $dark-color;
  $headerBackground-color: $light-color;
  $asideBackground-color: $light-color;
  $footerBackground-color: $dark-color;
  //===============================
  $hyperLink-color: #0127fd;
  $activeBackground-color: $dark-color;
  $active-color: $light-color;

/* End colors */

/* Start dimensions */

  $header-height: 70px;
  $footer-height: 30px;

/* End dimensions */

/* Start FontSize */

  $header-font: 35px;
  $big-font: 70px;
  $medium-font: 40px;
  $small-font: 20px;

/* End FontSize */